
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('fonte/idroid.otf') format('opentype');
}




body{
    font-size: 20px;
    background-color: #84E1AD;
    margin:0px;
    
   
}

main{
    background-color: white;
    text-align:justify;
    margin: auto;
    padding: 15px;
    box-shadow: 0px 5px 10px black;
    border-radius: 0px 0px 10px 10px;
    font-weight: bold;
    min-width: 280px;
    max-width: 900px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header{
    text-align: center;
    background-image: linear-gradient( 180deg, #3CD681, #195935);
    margin: 0px;
    padding-top: 10px;
    box-shadow: 0px 0px 10px black;
}

footer{
    color: white;
    margin-top: 40px;
    text-align: center;
    background-color: #20603D;
    padding: 1px;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
    background-color: green;
    padding: 3px;
    border-radius: 10px;
}

.titulo-comeco{
    font-size:50px;
    color: white;
    font-family: 'Oswald', sans-serif;
    
    
}

.android{
    color: #37c07b;
}

.google{
    color: #37c07b;
}

.dan-morrill{
    color: #20603D;
    text-decoration: none;
    color: rgb(72, 112, 72);
    background-color:#a0e8bf;
    padding: 3px;
    border-radius: 8px;
}

.primeira-versao{
    color: #20603D;
    background-image: linear-gradient(90deg ,lightgreen ,white);
    font-family: 'idroid', Arial, sans-serif;
}

.surge-mascote{
    color: #20603D;
    background-image: linear-gradient(90deg ,lightgreen ,white);
    font-family: 'idroid', Arial, sans-serif;
}

.mascote-android{
    font-family: 'idroid', Arial, sans-serif;
    color: green;
}

header > p{
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    margin: auto;
}

nav{
    text-align: start;
    padding: 9px;
}

nav > a{
    color: white;
    padding:5px;
    text-decoration: none;    
    font-weight: bold;
    font-family: sans-serif;
    transition: .5s;
}

nav > a:hover{
    padding: 10px;
    background-color: #38a868;
    border-radius: 10px;
    
}

.video{
    background-color: #195935;
    padding: 15px;
    padding-bottom: 59%;
    margin: 0px -15px;
    position: relative;
}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.imagem-android{
    text-align: center;
}

.gustavo{
    color: white;
}

.cursovideo{
    color: white;
}

.gui{
    color: white;
}

.extratitulo{
    color: white;
    background-color: #38a868;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;
}

.extra-texto{
    padding: 7px 7px 7px 7px;
    border-radius: 0px 0px 10px 10px;
    background-color: #a0e8bf;
}

.imagemirina{
    width: 100%;
    margin: auto;
}

.bugdroid{
    width: 100%;
    margin: auto;
}

.android-q{
    color:#20603D
}

.irina-link{
    color: rgb(72, 112, 72);
    background-color:#a0e8bf;
    padding: 3px;
    border-radius: 8px;
    text-decoration: none;
}

.inkscape-link{
    color: rgb(72, 112, 72);
    background-color:#a0e8bf;
    padding: 3px;
    border-radius: 8px;
    text-decoration: none;
}

.android-link{
    color: rgb(72, 112, 72);
    background-color:#5bac7e;;
    padding: 3px;
    border-radius: 8px;
    text-decoration: none;
}

aside ul{
    list-style-type: '\2714\00a0';
    columns: 2;
}

.dan-morrill::after{
    content: '\1F517';
}

.inkscape-link::after{
    content: '\1F517';
}

.irina-link::after{
    content: '\1F517';
}

.android-link::after{
    content: '\1F517';
}